.pd {
  padding: 100px 0; }

.heading {
  color: #0B093B;
  padding-bottom: 70px; }
  .heading h1 {
    margin: 0 0 10px;
    font-weight: 600; }
  .heading p {
    line-height: 1.6;
    width: 50%; }

@media (max-width: 992px) {
  .heading h1 {
    font-size: 21px; }
  .heading p {
    width: 100%; } }
img {
  max-width: 100%; }

.active {
  color: #0B093B; }

span.yellow {
  position: absolute;
  left: 13px;
  top: -7px;
  width: 20px;
  height: 10px;
  border-radius: 20px;
  background-color: #F2B300; }

span.green {
  position: absolute;
  left: 0;
  top: 4px;
  width: 13px;
  height: 13px;
  border-radius: 20px;
  background-color: #4CD5C5; }

span.blue {
  position: absolute;
  left: 12px;
  top: 17px;
  width: 20px;
  height: 10px;
  border-radius: 20px;
  background-color: #0B093B; }

span.red {
  position: absolute;
  left: -2px;
  top: 32px;
  width: 20px;
  height: 10px;
  border-radius: 27px;
  background-color: #F40051; }

.navbar {
  padding: 50px 0; }
  .navbar .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize; }
    .navbar .row a {
      color: #0B093B; }
    .navbar .row .logo {
      position: relative;
      padding-left: 40px; }
      .navbar .row .logo a {
        text-transform: uppercase;
        font-size: 21px; }
    .navbar .row .humbrger {
      display: none; }
    .navbar .row nav {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      .navbar .row nav a {
        font-weight: 600;
        padding-left: 24px;
        font-size: 14px; }
      .navbar .row nav .login {
        margin: 0 0 0 21px;
        border-left: 1px solid #000; }
        .navbar .row nav .login a:first-child {
          padding: 8px 27px;
          border-radius: 36px;
          color: #0B093B;
          margin-left: 20px;
          display: inline-block;
          transition: .3s; }
          .navbar .row nav .login a:first-child:hover {
            color: #FFF;
            background-color: #F2B300; }
        .navbar .row nav .login a:last-child {
          padding: 8px 27px;
          background-color: #7620FF;
          border-radius: 36px;
          color: #FFF;
          margin-left: 20px;
          display: inline-block;
          border: 1px solid #7620FF;
          transition: .3s; }
          .navbar .row nav .login a:last-child:hover {
            color: #0B093B;
            background-color: transparent; }

@media (max-width: 992px) {
  .navbar {
    position: relative; }
    .navbar .humbrger {
      display: block !important;
      color: #0B093B;
      cursor: pointer;
      font-size: 23px; }
    .navbar nav {
      align-items: flex-start !important;
      flex-direction: column;
      z-index: 99;
      position: absolute;
      bottom: -242px;
      right: 22px;
      width: 341px;
      background-color: #0B093B;
      padding: 12px 5px;
      border-top-right-radius: 15px; }
      .navbar nav > a {
        margin-bottom: 10px;
        color: #FFF !important;
        display: block; }
      .navbar nav .login {
        margin: 0 auto 0 36px !important;
        display: block !important;
        border-left: 0 !important; }
        .navbar nav .login a:first-child {
          color: #fff !important;
          margin-left: 0 !important; }
        .navbar nav .login a:last-child:hover {
          color: #FFF !important; } }
.hero {
  overflow: hidden;
  padding-top: 4%;
  margin-bottom: 50px; }
  .hero .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px; }
    .hero .row .text {
      flex: 2;
      color: #0B093B; }
      .hero .row .text h1 {
        font-size: 50px;
        font-weight: 500;
        margin: 0; }
      .hero .row .text p {
        font-size: 1rem;
        line-height: 1.6;
        margin: 19px 0 23px; }
      .hero .row .text .get-started {
        padding: 12px 42px;
        background-color: #7620FF;
        border-radius: 36px;
        color: #FFF;
        border: 1px solid #7620FF;
        display: inline-block;
        transition: .3s; }
        .hero .row .text .get-started:hover {
          font-weight: 600;
          color: #0B093B;
          background-color: transparent; }
    .hero .row .img {
      flex: 1;
      position: relative; }
      .hero .row .img img {
        max-width: 100%; }
      .hero .row .img .box {
        position: absolute;
        bottom: 38px;
        left: -135px;
        width: 380px;
        padding: 17px 28px 18px;
        color: #FFF;
        background-color: #0B093B;
        border-top-right-radius: 27px;
        border-bottom-left-radius: 27px; }
        .hero .row .img .box p {
          margin-bottom: 20px;
          font-size: 1rem;
          line-height: 1.7; }
        .hero .row .img .box span {
          color: #F2B300;
          display: block;
          font-size: 13px;
          text-align: right; }

@media (max-width: 992px) {
  .hero {
    padding-top: 14%; }
    .hero .row {
      text-align: center;
      flex-flow: column wrap; }
      .hero .row .text h1 {
        font-size: 25px; }
      .hero .row .text p {
        width: 100%;
        margin: 20px auto !important; }
      .hero .row .img .box {
        display: none; } }
.brand {
  overflow: hidden;
  background-color: #F5F5F5; }
  .brand .row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 95px; }
    .brand .row svg {
      cursor: pointer; }

@media (max-width: 992px) {
  .brand .row {
    flex-flow: column wrap; } }
.services {
  overflow: hidden; }
  .services .row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 52px; }
    .services .row .col i {
      color: #F2B300;
      font-size: 35px; }
    .services .row .col h3 {
      margin: 20px 0;
      font-weight: 100;
      color: #0B093B; }
    .services .row .col p {
      color: #0B093B; }
    .services .row .two i {
      color: #F40051; }
    .services .row .three i {
      color: #4CD5C5; }
    .services .row .four i {
      color: #7620FF; }

.gallary {
  overflow: hidden;
  background-color: #F5F5F5; }
  .gallary .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 30px; }
    .gallary .row .text,
    .gallary .row .imgs {
      flex: 1; }
    .gallary .row .text {
      color: #0B093B; }
      .gallary .row .text p:first-child {
        font-size: 14px;
        font-weight: 600; }
      .gallary .row .text h2 {
        margin-top: 7px;
        margin-bottom: 10px;
        font-weight: 100;
        font-size: 30px; }
      .gallary .row .text p:last-of-type {
        font-size: 14px;
        margin-bottom: 33px; }
      .gallary .row .text .btns a:first-child {
        padding: 8px 27px;
        border-radius: 36px;
        color: #0B093B;
        display: inline-block;
        transition: .3s;
        font-size: 15px; }
        .gallary .row .text .btns a:first-child:hover {
          color: #FFF;
          background-color: #F2B300; }
      .gallary .row .text .btns a:last-child {
        padding: 8px 27px;
        background-color: #7620FF;
        border-radius: 36px;
        color: #FFF;
        margin-left: 20px;
        font-size: 15px;
        display: inline-block;
        border: 1px solid #7620FF;
        transition: .3s; }
        .gallary .row .text .btns a:last-child:hover {
          color: #0B093B;
          background-color: transparent; }
    .gallary .row .imgs {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px 50px;
      position: relative; }
      .gallary .row .imgs .img {
        overflow: hidden; }
        .gallary .row .imgs .img img {
          border-radius: 6px;
          max-width: 100%; }
      .gallary .row .imgs .right {
        text-align: right; }
      .gallary .row .imgs .top {
        position: absolute;
        bottom: -66px;
        right: 58px; }

@media (max-width: 992px) {
  .gallary .row {
    flex-flow: column wrap; }
    .gallary .row .imgs {
      gap: 20px; }
      .gallary .row .imgs .right {
        text-align: left; }
      .gallary .row .imgs .top {
        bottom: -97px;
        right: -3px; } }
.project {
  overflow: hidden; }
  .project .row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px; }
    .project .row .card {
      overflow: hidden; }
      .project .row .card img {
        max-width: 100%;
        border-radius: 5px; }
      .project .row .card .info {
        padding: 13px 0 25px; }
        .project .row .card .info h4 {
          font-size: 15px;
          margin-bottom: 10px; }
        .project .row .card .info p {
          font-size: 14px; }
  .project .learn-more {
    margin-top: 20px;
    text-align: center; }
    .project .learn-more a {
      padding: 8px 27px;
      background-color: #7620FF;
      border-radius: 36px;
      color: #FFF;
      display: inline-block;
      border: 1px solid #7620FF;
      transition: .3s; }
      .project .learn-more a:hover {
        color: #0B093B;
        background-color: transparent; }

.Creativity {
  overflow: hidden;
  position: relative;
  background-color: #F5F5F5; }
  .Creativity .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; }
    .Creativity .row .img,
    .Creativity .row .text {
      flex: 1; }
    .Creativity .row .img img {
      max-width: 100%; }
    .Creativity .row .text {
      color: #0B093B; }
      .Creativity .row .text p:first-child {
        font-size: 14px;
        font-weight: 600; }
      .Creativity .row .text h2 {
        margin-top: 7px;
        margin-bottom: 10px;
        font-weight: 100;
        font-size: 30px; }
      .Creativity .row .text p:last-of-type {
        font-size: 14px;
        margin-bottom: 33px; }
      .Creativity .row .text .btns a:first-child {
        padding: 8px 27px;
        border-radius: 36px;
        color: #0B093B;
        display: inline-block;
        transition: .3s;
        font-size: 15px; }
        .Creativity .row .text .btns a:first-child:hover {
          color: #FFF;
          background-color: #F2B300; }
      .Creativity .row .text .btns a:last-child {
        padding: 8px 27px;
        background-color: #7620FF;
        border-radius: 36px;
        color: #FFF;
        margin-left: 20px;
        font-size: 15px;
        display: inline-block;
        border: 1px solid #7620FF;
        transition: .3s; }
        .Creativity .row .text .btns a:last-child:hover {
          color: #0B093B;
          background-color: transparent; }

@media (max-width: 992px) {
  .Creativity {
    padding-bottom: 30px; }
    .Creativity .row {
      flex-flow: column wrap; } }
.blog {
  overflow: hidden; }
  .blog .row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px; }
    .blog .row .card {
      box-shadow: 9px 11px 41px #F5F5F5;
      padding: 18px 17px 25px;
      border-radius: 7px;
      color: #0B093B; }
      .blog .row .card h3 {
        font-size: 1rem;
        font-weight: 100; }
      .blog .row .card p {
        font-weight: 600;
        margin: 10px 0;
        font-size: 13px; }
      .blog .row .card span {
        display: block;
        font-size: 14px;
        margin-bottom: 15px; }
      .blog .row .card a {
        display: inline-block;
        padding: 4px 15px;
        font-size: 13px;
        background-color: #C4FFFF;
        border-radius: 36px;
        color: #0B093B;
        font-weight: 600;
        border: 2px solid #C4FFFF;
        transition: .3s; }
        .blog .row .card a:hover {
          background-color: transparent; }

.resume {
  overflow: hidden;
  background-color: #F5F5F5; }
  .resume .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px; }
    .resume .row .box {
      flex: 1;
      width: 380px;
      padding: 17px 28px 18px;
      color: #FFF;
      background-color: #0B093B;
      border-top-right-radius: 27px;
      border-bottom-left-radius: 27px; }
      .resume .row .box p {
        margin-bottom: 20px;
        font-size: 1rem;
        line-height: 1.7; }
      .resume .row .box span {
        color: #F2B300;
        display: block;
        font-size: 13px;
        text-align: right; }

@media (max-width: 992px) {
  .resume .row .box p {
    font-size: 11px; } }
.pricing {
  overflow: hidden; }
  .pricing .row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px; }
    .pricing .row .card {
      padding: 20px 16px 30px;
      box-shadow: 9px 11px 41px #F5F5F5;
      flex: 1;
      color: #0B093B; }
      .pricing .row .card .yellow {
        color: #F2B300;
        font-size: 30px; }
      .pricing .row .card .red {
        color: #F40051;
        font-size: 30px; }
      .pricing .row .card .green {
        font-size: 30px;
        color: #4CD5C5; }
      .pricing .row .card .price {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .pricing .row .card .price span {
          display: block;
          font-size: 17px; }
      .pricing .row .card h4 {
        font-weight: 100;
        margin-top: 15px;
        margin-bottom: 8px; }
      .pricing .row .card p {
        font-weight: 600;
        margin-bottom: 27px;
        font-size: 13px; }
      .pricing .row .card ul {
        margin-bottom: 22px; }
        .pricing .row .card ul li {
          margin-bottom: 10px;
          display: block;
          padding-left: 40px; }
          .pricing .row .card ul li i {
            color: #4CD5C5;
            margin-right: 10px; }
      .pricing .row .card .buy {
        background-color: #7620FF;
        border-radius: 17px;
        color: #FFF;
        font-size: 15px;
        margin: 0 auto;
        width: 85px;
        height: 30px;
        line-height: 30px;
        display: block;
        border: 1px solid #7620FF;
        transition: .3s;
        text-align: center; }
        .pricing .row .card .buy:hover {
          color: #0B093B;
          background-color: transparent; }

.contact {
  padding: 100px 0 130px;
  overflow: hidden;
  background-color: #F5F5F5; }
  .contact .row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 70px; }
    .contact .row .form,
    .contact .row .imgs {
      flex: 1; }
    .contact .row .imgs {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      position: relative; }
      .contact .row .imgs .right {
        position: relative;
        top: 113px;
        left: -5px; }
    .contact .row .form {
      color: #0B093B;
      display: flex;
      flex-flow: column wrap; }
      .contact .row .form .col {
        display: flex;
        flex-flow: column wrap; }
        .contact .row .form .col label {
          font-size: 12px;
          font-weight: 600; }
        .contact .row .form .col input {
          display: inline-block;
          outline: 0;
          border: 0;
          border-bottom: 1px solid #6B6A7E;
          background-color: transparent;
          margin: 10px 0 20px;
          padding: 15px 0;
          font-size: 15px; }
        .contact .row .form .col textarea {
          display: inline-block;
          outline: 0;
          border: 0;
          border-bottom: 1px solid #6B6A7E;
          background-color: transparent;
          margin: 10px 0 20px;
          padding: 15px 0;
          font-size: 15px;
          height: 150px; }
      .contact .row .form .submit {
        color: #FFF;
        margin-top: 18px;
        background: #7620FF;
        width: fit-content;
        padding: 11px 34px;
        border: 1px solid #7620FF;
        border-radius: 30px;
        font-size: 14px;
        font-weight: 600;
        transition: .3s; }
        .contact .row .form .submit:hover {
          color: #0B093B;
          background-color: transparent; }

footer {
  background-color: #0B093B;
  color: #FFF;
  overflow: hidden;
  padding: 30px 0; }
  footer .row {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer .row .logo {
      position: relative;
      padding-left: 40px; }
      footer .row .logo span.purple {
        position: absolute;
        left: 12px;
        top: 17px;
        width: 20px;
        height: 10px;
        border-radius: 20px;
        background-color: #7620FF; }
      footer .row .logo a {
        color: #FFF;
        font-weight: 100;
        text-transform: uppercase;
        font-size: 19px; }
    footer .row .copyright {
      font-size: 15px; }

@media (max-width: 992px) {
  footer {
    padding: 65px 0; }
    footer .row {
      flex-direction: column; }
      footer .row .logo {
        margin-bottom: 27px; } }
html {
  box-sizing: border-box;
  font-size: 100%; }

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.6; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

::selection {
  color: #F2B300;
  background-color: #0B093B; }

a.top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: #0B093B;
  color: #FFF;
  width: 45px;
  height: 45px;
  display: block;
  border: 2px solid #0B093B;
  border-radius: 50%;
  line-height: 43px;
  text-align: center;
  font-size: 19px;
  transition: .3s;
  display: none; }
  a.top:hover {
    background-color: transparent;
    color: #0B093B; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 576px) {
  .container {
    width: 750px; } }
@media (min-width: 768px) {
  .container {
    width: 970px; } }
@media (min-width: 992px) {
  .container {
    width: 1170px; } }

/*# sourceMappingURL=main.css.map */
